@mixin bp($name) {
    @if not map-has-key($breakpoints, $name) {
        @warn "Invalid breakpoint `#{$name}`.";
    } @else {
        $bp: bp-get($name);
        @if $bp {
            @media (min-width: $bp) {
                @content;
            }
        } @else {
            @content;
        }
    }
}

@mixin property($property, $value) {
  $prop-pos: str-index($property, ":");
  @if $prop-pos {
    $ins-pos: str-index($property, "*");
    $length: str-length($property);
    $before: str-slice($property, $prop-pos + 1, $ins-pos - 1);
    $after: str-slice($property, $ins-pos + 1, $length);
    #{str-slice($property, 0, $prop-pos - 1)}: #{$before + $value + $after};
  } @else {
    #{$property}: #{$value}
  }
}


@mixin responsive($property, $value-start, $value-end, $bp-start: xs, $bp-end: lg) {
  @if type-of($value-start) != number or type-of($value-end) != number {
    @warn "Either $value-start or $value-end is not a number: `#{$value-start}` | `#{$value-end}`"
  } @else {
    @include property($property, $value-start);
    $value-distance: $value-end - $value-start;
    $bp-distance: bp-get($bp-end) - bp-get($bp-start);
    $bp-keys: map-keys($breakpoints);
    $bp-list: ();
 
    $i: index($bp-keys, $bp-start);
    @while $i <= length($bp-keys) and nth($bp-keys, $i) != $bp-end {
      $i: $i + 1;
      $bp-list: join($bp-list, nth($bp-keys, $i));
    }
 
    @each $key in $bp-list {
      $percentage: ( bp-get($key) - bp-get($bp-start) ) / $bp-distance;
      @include bp($key) {
        @include property($property, float( ( $value-distance * $percentage ) + $value-start ));
      }
    }
  }
}