/* Typography */
body
  +box-sizing(border-box)
  +responsive("font-size", 14px, 16px)
  color: $brand-color
.h1, .h3
  font-family: $primary-font
h1
  @extend .h1
  +responsive("font-size", 30px, 50px)
  letter-spacing: 2px
h2
  +responsive("font-size", 18px, 34px)
  margin: 1em 0 0.5em 0
h3
  @extend .h3
  margin: 1em 0 0.5em 0
  font-size: 22px
  line-height: 40px
  letter-spacing: 1px
h4
  +responsive("font-size", 12px, 18px)
  margin: 1em 0
  line-height: 20px

.text-alpha
  +transition(all 0.2s)
  +opacity(0.7)
.text-alpha:hover
  +opacity(1)