/* Colors */
$brand-color: #f6f6f6;
$base-color: #101010;

/* Fonts */
$primary-font: "Karla", sans-serif;
$secondary-font: "Josefin Sans", sans-serif;

/* Background */
$bg-pattern: "Background-pattern-1.png";
$bg-pattern-alpha: .35;

/* Header */
$header-color: $brand-color;

/* Header :: Sticky */
$header-sticky-color: #2b2b2b;
$header-sticky-bg: rgba($header-color, 0.88);
$header-sticky-shadow: rgba(#646464, 0.5);

/* Section */
$bg-section: $brand-color;

/* Section :: Service */
$service-border: 3px;

/* Section :: Team */
$team-shadow: 0 0 20px 1px rgba(34, 34, 34, 0.75);

/* Section :: Pricing */
$pricing-shadow: $team-shadow;

/* Corners */
$corner-radius: 3px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

/* Breakpoints */
$breakpoints: (
  xs: $screen-xs, // 480px
  sm: $screen-sm, // 768px
  md: $screen-md, // 992px
  lg: $screen-lg  // 1200px
);

$social-list: (
  "facebook":    #3b5998,
  "twitter":     #00aced,
  "google-plus": #dd4b39,
  "youtube":     #bb0000,
  "linkedin":    #007bb6,
  "instagram":   #3f729b,
  "pinterest":   #cb2027,
  "vine":        #00bf8f,
  "flickr":      #ff0084,
  "tumblr":      #32506d,
  "vk":          #45668e,
  "foursquare":  #0072b1
);

$themes-list: (
  // "black":     #111111,
  "night":     #300a32
  // "raven":     #1a446d,
  // "bobble":    #05606a,
  // "whales":    #0a6b73,
  // "teal":      #1693a5,
  // "sea":       #4e9cb5,
  // "hydrangea": #327ccb,
  // "purple":    #251137,
  // "frog":      #7ab04e,
  // "lime":      #4c6c0a,
  // "fire":      #982438,
  // "kisses":    #680b2f,
  // "pink":      #ff0066,
  // "summer":    #e07053,
  // "bloons":    #d31996,
  // "vitamin":   #ff9900,
  // "gold":      #fbb829
);