/* Header */
.navbar
  position: fixed !important
  z-index: 777
  width: 100%
  padding: 25px 0
  border: none !important
  color: $header-color
  +border-radius(0 !important)
  +transition(all .3s)
  &.sticky
    padding: 0
    background-color: $header-sticky-bg
    box-shadow: 0px 3px 5px $header-sticky-shadow
    color: $header-sticky-color
    .navbar-header .icon-bar
      background-color: $header-sticky-color
    #nav a::after
      +breakpoint(max-width $screen-sm)
        background: $header-color
      background: $header-sticky-color

/* Header :: Brand */
.navbar-header
  .navbar-brand
    +responsive("font-size", 20px, 24px)
    +responsive("padding: *px 0", 15, 25)
    +breakpoint(max-width $screen-sm)
      padding: 15px
    font-family: $secondary-font
    letter-spacing: 3px
    padding-top: 2px
    color: inherit
  .icon-bar
    background-color: $header-color
    
/* Header :: Navigation */
#nav
  +breakpoint($screen-sm)
    float: right
  li
    padding: 10px 15px
  a
    +responsive("font-size", 9px, 12px)
    +responsive("padding: *px 0 !important", 5, 15)
    color: inherit
    text-transform: uppercase
    letter-spacing: 2px
    &:hover, &:focus
      background: inherit !important
      color: inherit !important
    &:last-child
      margin-right: 0
    &::before
      content: attr(data-hover)
      +transition(transform 0.3s, opacity 0.3s)
      pointer-events: none
    &::after
      +transform(translateY(3px))
      +transition(transform 0.3s, opacity 0.3s)
      +transparent
      +stretch(auto, auto, 5px, 0)
      content: ''
      width: 100%
      height: 2px
      background: $brand-color
      pointer-events: none
    &:hover::before, &:focus::before
      +transform(translateY(-2px))
      +transparent 
    &:hover::after, &:focus::after
      +transform(translateY(0px))
      +opaque