html
  height: 100%
body, .site-cover, .bg-pattern, .bg-backstretch, .site-wrapper
  width: 100%
  height: 100%
.site-cover
  +transparent
  +transition(opacity 1.4s)
  &.onload
    +opaque
.bg-pattern
  +background(image-url("patterns/#{$bg-pattern}"))
  +opacity($bg-pattern-alpha)
  position: fixed
  top: 0
  left: 0
  z-index: -1
.bg-backstretch
  background: #fff
  position: fixed
  z-index: -2
.site-wrapper
  display: table
  min-height: 100%
.site-wrapper-inner
  display: table-cell
  vertical-align: middle

/* Section */
section:not(:first-of-type)
  +responsive("padding: *px 0", 10, 60)
  +responsive("margin: *px 0", 10, 60)

/* Section :: Title */
.headline
  text-align: center
  padding-bottom: 15px