$styler-height: 310px
$styler-width: 250px

.styler
  position: fixed
  top: 120px
  left: 0px
  right: auto
  z-index: 100
  cursor: pointer
  width: $styler-width
  +transition(all 0.2s ease-out)
  +transform(translate(-($styler-width - 50px), 0%))
  +box-shadow(#222 1px 1px 10px)
  background-color: $brand-color
  color: $base-color
  &.styler-active
    +transform(translate(0%, 0%))
    +animation(styler .3s ease-out .15s forwards)
  h3
    margin: 10px 12px
  i
    font-size: 28px
    float: right
    padding: 4px 0
.styler-item-wrapper
  +inline-block
  line-height: 0
  margin: 3px
  &.active
    border: 1px solid #aaa
    margin: 2px
  div
    margin: 2px
    width: 24px
    height: 24px
#styler-button
  float: right
  padding: 12px
  font-size: 30px
#styler-options
  display: none
.styler-color-button, #styler-color .styler-item-wrapper
  +border-radius(50%)
.styler-bg-button
  +opacity(0.7)

+keyframes(styler)
  0%
    height: $styler-height*0.7
  45%
    height: $styler-height*1.05
  80%
    height: $styler-height*0.95
  100%
    height: $styler-height