@each $name, $color in $themes-list
  .#{$name}
    
    /* Preloader */
    .pace .pace-progress
      background: $color
    
    /* Sticky header */
    .sticky #nav
      li.active
        background: lighten($color, 5%)
        color: $brand-color
        a:hover
          color: $brand-color !important
        a::after
          background: $brand-color
    
    /* Intro */
    #welcome-title
      text-transform: capitalize
      color: $color
      &::after
        content: "#{$name}"
    
    /* Services */
    .service-item:hover
      .service-circle
        padding: 0
        border-style: solid
        border-color: rgba($color, 0.8)
        background-color: rgba($color, 0.6)
      p
        +opaque
    
    /* Portfolio */
    .portfolio .portfolio-description:hover
      background-color: rgba($color, 0.5)

    /* Team */
    .team-item 
      .team-socials
        background-color: rgba($color, 0.6)
      &.rounded .team-socials
        border-radius: 0 0 $corner-radius - 1 $corner-radius - 1
    
    /* Pricing */
    #pricing .featured
      h3
        background-color: $color
        color: $brand-color
      strong
        color: $color

    /* Contacts */
    #contact-data .service
      a
        color: $color
      i
        color: $color

    /* Gmap marker */
    .map-label
      +background-image(radial-gradient(-20px 50%, circle closest-corner, transparent 0, transparent 32px, $color 35px))

    /* Buttons */
    .btn 
      &:hover
        border-color: rgba($brand-color, 0.8)
        color: $brand-color
      &.inverse
        border-color: $color
        background-color: $color
        color: $brand-color
        &:hover
          border-color: lighten($color, 4%)
    
    /* Inversed inputs */
    input, textarea
      &.inverse
        border-color: $color
        color: $base-color
        +input-placeholder
          color: lighten($color, 5%)

/* Rounded corners */
.rounded
  border-radius: $corner-radius !important