/* Components :: Inputs */
input, textarea
  position: relative
  border: 1px solid $brand-color
  background: none
  color: $brand-color
  
/* Components :: Buttons */
.btn
  +transition(all .4s)
  border-radius: 0px
  background: none
  letter-spacing: 1px
  border: 2px solid rgba($brand-color, 0.4)
  color: $brand-color

.btn-xlg
  padding: 15px 25px
  font-size: 18px

/* Components :: Social buttons */
.social-icons
  span
    margin: 0 3px
    +responsive("font-size", 18px, 24px)
    cursor: pointer
    color: inherit
    border: 1px solid #fff
    +transition(all .4s)
    &.no-border
      border: none
    &.sb-black
      background: black
      &:hover
        color: black
    &.sb-white
      background: white
      &:hover
        color: white
    &.circle
      border-radius: 50%
    &.square
      &:hover
        background-color: rgba(white, 0.2)
    &.rounded
      border-radius: 5px
    @each $name, $color in $social-list
      &.bg-#{$name}, &.bg-#{$name}-hover:hover
        background-color: $color
      &.color-#{$name}, &.color-#{$name}-hover:hover
        color: $color

/* Components :: Carousel */
#slider
  padding: 0 80px
#slider .item
  margin: 0px
  padding: 0px
  +responsive("min-height", 200px, 150px)
.carousel-indicators
  bottom: 0 !important
  margin-bottom: 0 !important
  li
    background-color: #ccc
    border: none
    width: 12px
    height: 12px
    margin: 0
    &.active
      background-color: #444
.carousel-control
  &.right, &.left
    background-image: none
    +opacity(0.3)
    +transition(all 0.4s)
    color: #444
    &:hover
      +opacity(0.7)
  i
    font-size: 80px
  &.right:hover
    right: -10px
  &.left:hover
    left: -10px

/* Components :: Gallery */
.baguetteBox-button
  +opacity(0.7)
  +transition(all 0.4s ease)
  background: none
  &:hover
    +opaque
    background: none
.baguetteBox-button#next-button:hover
  right: 1%
.baguetteBox-button#previous-button:hover
  left: 1%