/* Contacts :: Form */
#contactForm 
  .control-group:first-child .contact-form-group
    padding-top: 15px
  .contact-form-group
    position: relative
    padding-bottom: 8px
    border-bottom: 2px solid rgba($brand-color, 0.9)
  input, textarea
    border: none
    width: 100%
    padding: 5px
    letter-spacing: 1px
    font-size: 20px
  +breakpoint(max-width $screen-md)
    button
      width: 100%

/* Contact :: Info */
#contact-data
  margin-bottom: 0px
  background: $brand-color
  color: $base-color
  .service
    text-align: center
    i
      +responsive("font-size", 30px, 50px)
    a
      color: $base-color

/* Contact :: Map */
#contact-map
  margin-top: 0
  padding-top: 0
  margin-bottom: 0
  padding-bottom: 0
  #map
    display: block
    width: 100%
    height: 500px
.map-overlay
  i
    color: $base-color
    font-size: 100px
    cursor: pointer
  .map-label
    opacity: 0
    margin: 0
    text-align: center
    position: absolute
    top: 7px
    left: 58px
    height: 50px
    line-height: 50px
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    +user-select(none)