/* Intro */
#welcome
  font-family: $secondary-font
  font-weight: 600
  text-transform: uppercase
  +responsive("font-size", 35px, 75px)
  +text-shadow(1px 1px 3px #222)

#intro p
  +responsive("margin: *px 0", 25, 35)
  +responsive("padding-bottom", 25px, 35px)
  +responsive("font-size", 16px, 25px)
  +responsive("line-height", 1.7, 2)

/* Intro :: Scrolldown */
.scrolldown
  border-color: rgba($brand-color, 0.3)
  color: rgba($brand-color, 0.9)