/* Newsletter */
#newsletter
  background-color: $brand-color
  input
    @extend .btn-xlg
    width: 600px
    margin: 20px 0
    border-width: 1px
    border-style: solid
  .section-heading, .section-subheading
    color: $base-color
  +breakpoint(max-width $screen-md)
    input, button, .form-group, .input-group
      width: 100%