/* Portfolio */
.portfolio-item
  .portfolio-image
    margin-bottom: 30px
    .portfolio-bg
      +transition(background-color, 0.35s linear)
      +stretch
      opacity: 0.7
      margin: 0px 15px 30px

/* Portfolio :: Hover effect */
.hover-effect
  .portfolio-description
    +transition(background-color 0.35s ease-out)
    +stretch
    margin: 0 15px 30px 15px
    text-align: center
    color: $brand-color
    &::before
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      content: ''
      +transparent
      +translate(0, 50%)
  h2
    +transparent
    position: absolute
    top: 50%
    left: 0
    width: 100%
    +transition(opacity, 0.35s ease-out)
    +translate(0, -50%)
  .portfolio-description::before
    +transition(opacity, 0.35s ease-out)
  p
    font-size: 18px
    +transition(opacity, 0.35s ease-out)
    position: absolute
    bottom: 0
    left: 0
    padding: 2em
    width: 100%
    +transparent
    +translate(0, 10px)
  &:hover
    h2
      color: $brand-color
      +opaque
      +transform(translate(0, -50%) translate(0, -40px))
    .portfolio-description::before, p
      +opaque
      +translate3d(0, 0, 0)