/* Pricing */
.pricing-item
  z-index: 1
  margin-top: 10px
  padding: 20px
  text-align: center
  color: $base-color
  background: #fff
  +box-shadow($pricing-shadow)
  h3
    margin: 0
    padding: 10px
    font-size: 30px
    font-weight: 600
  hr
    margin-top: 0
    max-width: 100px
  .price
    margin-bottom: 20px
    .number
      font-size: 50px
      font-weight: 900
      sup
        font-size: 30px
  .list-group-item
    border-radius: 0
    padding: 15px
    border: none
    border-top: 1px solid #EDEDED
    &:first-child
      border: none !important