/* Services */
.service-circle
  +responsive("width", 80px, 140px)
  +responsive("height", 80px, 140px)
  +responsive("line-height", 80px, 140px)
  +transition(background-color .3s)
  +inline-block
  +border-radius(100%)
  border-width: $service-border
  padding: $service-border
  i
    margin: -$service-border
    line-height: inherit

