/* Team */
.team-item
  +transition(all .3s)
  +box-shadow($team-shadow)
  color: $base-color
  .team-bg
    padding: 15px 15px 30px
    background-color: $brand-color
  h5
    padding: 10px 0

/* Team :: Social buttons */
.team-socials
  padding: 10px 0
  color: $brand-color