/* Testimonials */
#testimonials
  background-color: $brand-color
  color: $base-color
  .img-circle
    +responsive('width', 50px, 100px)
    +responsive('height', 50px, 100px)
  .carousel-inner
    text-align: left
